name: ci

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          # Ganti ini dengan username asli Anda juga agar login berhasil
          username: nicholasxav
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          target: final
          # Ganti USERNAME_DOCKER_ANDA dengan username asli Docker Hub Anda
          tags: nicholasxav/${{ github.event.repository.name }}:latest
